---
title: Accordion
layout: layout-example.njk
---

{% from "accordion/macro.njk" import govukAccordion %}

{{ govukAccordion({
  id: "accordion-default",
  items: [
    {
      label: "Section A",
      content: {
        html: "<p class='govuk-body'>This is the content for section A.</p>"
      }
    },
    {
      label: "Section B",
      content: {
        html: "<p class='govuk-body'>This is the content for section B.</p>"
      }
    },
        {
      label: "Section C",
      content: {
        html: "<p class='govuk-body'>This is the content for section C.</p>"
      }
    },
       {
      label: "Section D",
      content: {
        html: "<p class='govuk-body'>This is the content for section D.</p>"
      }
    }
  ]
}) }}
